{% extends 'base/index.html' %} {% block content %}
<section>
  <header>Manager > Demandas</header>
  <h2>Todos os registros</h2>
  <article>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Título</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Novo teste</td>
          <td>20-07-2019 10:00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Novo teste</td>
          <td>20-07-2019 10:00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Novo teste</td>
          <td>20-07-2019 10:00</td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
{% endblock %}
