<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% load static %} {% load sass_tags %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/pe-icons.css' %}" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% sass_src 'scss/global.scss' %}" />
    <title>Demands - {{ title }}</title>
  </head>
  <body>
    <nav>
      <header><img src="{% static 'images/nkg.png' %}" alt="" class="logo" />Nokengo</header>
      <div class="menu">
        <ul>
          <li><i class="pe-7s-home"></i><span>Home</span></li>
          <li><i class="pe-7s-photo-gallery"></i><span>Demandas</span></li>
          <li><i class="pe-7s-user"></i><span>Usuários</span></li>
          <li><i class="pe-7s-server"></i><span>Grupos</span></li>
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
