section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  header {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 20px 30px;
    color: #aaa;
  }
  h2 {
    padding: 20px 20px 0;
  }
  article {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 100%;
  }
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  thead {
    th {
      border-bottom: 1px solid #ddd;
      color: #009fe2;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 12px;
      text-align: left;
      padding: 5px 10px;
    }
  }
  tbody {
    tr {
      &:nth-of-type(2n + 1) {
        background-color: #f9f9f9;
      }
    }
    td {
      padding: 10px 10px;
    }
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .input-group {
    display: flex;
    padding: 10px 0;
    label {
      width: 20%;
      padding: 10px;
      color: #aaa;
      text-transform: uppercase;
      font-size: 14px;
    }
    input {
      flex: 0 83%;
      padding: 10px;
    }
    textarea {
      flex: 0 83%;
      padding: 10px;
    }
    button {
      margin: 0;
      padding: 10px 25px;
      border: none;
      font-size: 15px;
      margin-right: 5px;
      &.primary {
        color: #ffffff;
        background-color: #009fe2;
      }
      &.danger {
        color: #ffffff;
        background-color: #dc3545;
      }
    }
  }
}
